<!DOCTYPE html>
<!-- site's lang or content's lang -->
<html lang="{{ default .Site.LanguageCode (.Params.languageCode) }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- logo for various systems -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#333333" />

    <title>{{ .Title }}</title>

    <!-- site's desc or content's desc -->
    <meta
      name="description"
      content="{{ default .Site.Params.description (.Page.Summary | plainify) }}"
    />

    <!-- site's author or content's author -->
    <meta
      name="author"
      content="{{ default .Site.Params.author (.Params.author) }}"
    />

    <meta name="copyright" content="{{ .Site.Title }}" />

    <meta name="license" content="{{ .Site.Copyright }}" />

    {{ $keywords := default .Site.Params.homepageKeywords (.Params.tags) }}
    <!-- site's keywords or content's keywords -->
    <meta name="keywords" content="{{ delimit $keywords ", " }}" />

    <!-- application/ld+json -->
    {{ partial "jsonld" . }}


    <!-- facebook meta -->
    {{ partial "facebook-meta" . }}

    {{ range .AlternativeOutputFormats -}}
      <link
        rel="{{ .Rel }}"
        type="{{ .MediaType.Type }}"
        href="{{ .Permalink }}"
        title="{{ $.Site.Title }}"
      />
    {{ end }}


    <!-- bundle critical.scss + main.scss -->
    {{ $criticalStyle := resources.Get "sass/critical.scss" | resources.ToCSS }}
    {{ $mainStyle := resources.Get "sass/main.scss" | resources.ToCSS }}
    {{ $bundleStyle := (slice $criticalStyle $mainStyle | resources.Concat "sass/bundle.css") | resources.Minify |
      resources.Fingerprint "sha512"
    }}
    <link
      rel="stylesheet"
      href="{{ $bundleStyle.RelPermalink }}"
      integrity="{{ $bundleStyle.Data.Integrity }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      media="print"
      onload="this.media='all'"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.0.0/github-markdown-light.min.css"
      integrity="sha512-2ZxkJRe/dlKUknBZJNP93bh08JvvuvL+fR6I3IqZ4tnAvNQ0D56+LVg+DvE/S/Ir4J/6lxBu/Xye1z243BEa1Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      media="print"
      onload="this.media='all'"
    />

    <!-- prettier-ignore -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- prettier-ignore -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CJRLMGTSPC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CJRLMGTSPC");
    </script>

    <!-- prettier-ignore -->
    <!-- cookie consent -->
    {{ $cookieConsent := resources.Get "js/cookie-consent.js" | js.Build (dict "minify" true)}}
    <script
      async
      src="{{ $cookieConsent.RelPermalink }}"
      integrity="{{ $cookieConsent.Data.Integrity }}"
    ></script>
  </head>

  <body>
    <div id="base-container" class="markdown-body">
      {{ partial "base-header" . }}
      {{ block "main" . }}{{ end }}
      <hr class="thin-line" />
      {{ partial "base-footer" . }}
    </div>

    {{ partial "cookie-consent" . }}
  </body>
</html>
