{{/* example
  {
  "data_type": "json-picture",
  "href": "https://kpping.files.wordpress.com/2021/10/logo_v1.png",
  "src": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r400x.jpg",
  "alt": "melon wish rain could stop soon",
  "height": "400",
  "width": "400",
  "source": [
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r400x.jpg",
  "media": "(min-width: 400px)"
  },
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r200x.jpg",
  "media": "(min-width: 200px)"
  },
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r100x.jpg",
  "media": "(min-width: 100px)"
  }
  ],
  "_raw": "https://kpping.files.wordpress.com/2021/10/logo_v1.png"
  }
  */}}
{{ $data := getJSON . }}
<picture>
  {{ range $data.source }}
    <source srcset="{{ .srcset }}" media="{{ .media }}" />
  {{ end }}
  <img
    loading="{{ $data.loading }}"
    width="{{ $data.width }}"
    height="{{ $data.height }}"
    src="{{ $data.src }}"
    alt="{{ $data.alt }}"
    {{ with $data._raw }}data-raw="{{ . }}"{{ end }}
  />
</picture>
