{{/* example
  {
  "data_type": "json-figure-picture",
  "href": "https://kpping.files.wordpress.com/2021/10/logo_v1.png",
  "src": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r400x.jpg",
  "alt": "melon wish rain could stop soon",
  "caption": "รูป: เมล่อนนั่งรอฝนหยุด",
  "height": "400",
  "width": "400",
  "source": [
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r400x.jpg",
  "media": "(min-width: 400px)"
  },
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r200x.jpg",
  "media": "(min-width: 200px)"
  },
  {
  "srcset": "https://kpping.files.wordpress.com/2021/10/logo_v1_q85_r100x.jpg",
  "media": "(min-width: 100px)"
  }
  ],
  "_raw": "https://kpping.files.wordpress.com/2021/10/logo_v1.png"
  }
  */}}
{{ $data := getJSON . }}
<figure class="json-figure-picture">
  <a href="{{ $data.href }}">
    {{ partial "data-input-json/json-picture" . }}
  </a>
  <figcaption>
    <p>{{ $data.caption }}</p>
  </figcaption>
</figure>
