{{- $id := .Get "id" | default (.Get 0) -}}
<div
  class="youtube-lt"
  data-embed="{{ $id }}"
  onclick="
    var iframe = document.createElement('iframe');
    iframe.setAttribute('title', 'YouTube video player');
    iframe.setAttribute('class', 'youtube-lt-iframe');
    iframe.setAttribute('frameborder', '0');
    iframe.setAttribute('allowfullscreen', '');
    iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture');
    iframe.setAttribute('src', 'https://www.youtube-nocookie.com/embed/{{ $id }}');
    this.appendChild(iframe);
    this.removeAttribute('onclick');
  "
>
  <picture>
    <source
      srcset="https://img.youtube.com/vi/{{ $id }}/maxresdefault.jpg"
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        https://img.youtube.com/vi/{{ $id }}/maxresdefault.jpg 2x,
        https://img.youtube.com/vi/{{ $id }}/sddefault.jpg     1x
      "
      media="(min-width: 640px)"
    />
    <source
      srcset="
        https://img.youtube.com/vi/{{ $id }}/maxresdefault.jpg 2x,
        https://img.youtube.com/vi/{{ $id }}/hqdefault.jpg     1x
      "
      media="(min-width: 480px)"
    />
    <source
      srcset="
        https://img.youtube.com/vi/{{ $id }}/sddefault.jpg 2x,
        https://img.youtube.com/vi/{{ $id }}/mqdefault.jpg 1x
      "
      media="(min-width: 320px)"
    />
    <source
      srcset="
        https://img.youtube.com/vi/{{ $id }}/mqdefault.jpg 2x,
        https://img.youtube.com/vi/{{ $id }}/default.jpg   1x
      "
      media="(min-width: 120px)"
    />
    <img
      class="youtube-lt-placeholder-image"
      load="lazy"
      width="680"
      height="480"
      src="https://img.youtube.com/vi/{{ $id }}/sddefault.jpg"
      alt="placeholder for youtube {{ $id }}"
    />
  </picture>
  <div class="youtube-lt-play-button"></div>
</div>
